PORT=3004

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password

# Email Settings
EMAIL_FROM=tttt@test.com
EMAIL_FROM_NAME=My mail

# RabbitMQ
RABBITMQ_URL=amqp://admin:RabbitMqSecPass321@rabbitmq:5672
RABBITMQ_EXCHANGE=cnweb.events

# Frontend URL (for links in email)
FRONTEND_URL=http://localhost:8080
